<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    body {
        font-family: 'Courier New', Courier, monospace;
    }

    .app {
        margin-top: 30px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .app div {
        margin-top: 50px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 100px;
    }
</style>

<body>
    <div class="app">
        <h1>API Project: File Metadata Microservice</h1>
        <div>
            <form enctype="multipart/form-data" method="POST" action="http://localhost:8090/upload">
                <input type="file" name="file">
                <input id="button" type="submit" value="Upload">
            </form>
        </div>
    </div>
</body>

</html>